<form action="/" method="post">
  <% for(var i = 0; i < people.length; i++) { %>
    <input type="text" name="firstname" value=<%=people[i].firstname %> >
    <input type="text" name="firstname" value=<%=people[i].surname %> >
    <br><br>
  <% } %>
  <input type="submit">
</form>
